Package: mterminal
Name: MTerminal
Version: 1.6
Architecture: iphoneos-arm
Description: A MobileTerminal fork
Maintainer: D.F (MTAC) <mtac@mtac.app>
Author: lordscotland <admin@officialscheduler.com>
Depends: coreutils, firmware (>= 11.0), gettext-localizations, system-cmds, zsh
Section: Utilities
Icon: https://mtac.app/repo/assets/com.officialscheduler.mterminal/icon-rounded.png
SileoDepiction: https://mtac.app/repo/depiction/native/com.officialscheduler.mterminal.json
