Package: mterminal
Version: @VERSION@
Architecture: iphoneos-arm
Maintainer: Hayden Seay <me@diatr.us>
Depends: coreutils, firmware (>= 11.0), gettext-localizations, system-cmds, zsh
Conflicts: com.officialscheduler.mterminal
Replaces: com.officialscheduler.mterminal
Provides: com.officialscheduler.mterminal (= @VERSION@)
Section: Utilities
Priority: standard
Description: A MobileTerminal fork
Depiction: https://moreinfo.thebigboss.org/moreinfo/depiction.php?file=mterminalDp
Author: lordscotland
Name: MTerminal
Icon: file:///Applications/MTerminal.app/icon-60@3x.png
Tag: purpose::uikit, role::enduser
