Package: mterminal
Name: MTerminal - xina
Version: 1.6
Architecture: iphoneos-arm
Description: A MobileTerminal fork
Maintainer: zqbb
Author: lordscotland <admin@officialscheduler.com>
Depends: coreutils, firmware (>= 11.0), gettext-localizations, system-cmds, zsh
Section: Utilities